.section_colorContainer {
    display: flex;
    height: 30vh;
    box-shadow: inset 0px 20px 16px 5px #090e0f;
    padding: 3px;
}

.generate_btn-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.generate_colors-btn {
  background-color: black;
    border-radius: 6px;
    color: white;
    height: 60px;
    font-size: 1.3em;
    font-family: 'Shadows Into Light', cursive;
    outline: none;
    margin-top: .8%;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
      };
    
}