.project-container-main {
    margin: 15px auto;
}

.section_projectContainer-project {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 1%;
}

