.project-container-main {
    height: 50vh;
    width: 94%;
    overflow: hidden;
    background-color: pink;
    margin: 15px auto;
}

.section_projectContainer-project,
.section_projectContainer-palette {
    display: flex;
    // flex-direction: row;
    height: 100px;
}

.section_projectContainer-project {
    background-color: chocolate;
}

.section_projectContainer-palette {
    background-color: cornflowerblue;
}