%form_styling {
    height: 40px;
    font-size: 1.3em;
    box-shadow: inset 1px 1px 2px 1px black;
    padding-left: 1.5%;
    outline: none;
    margin-left: 10px;
}

.palette_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

.palette_select,
.palette_input,
.palette_btn {
    @extend %form_styling;

}

.palette_select {

}

.palette_input {

}

.palette_btn {

}

select {
    width: 100px;
}

.palette_option {
    width: 60px;
    color: white;
}
