.project_name {
  color: white;
  text-align: center;
  text-shadow: 1px 0px 7px #000000d6;
  display: inline-block;
  margin: 5px;
  font-family: 'Shadows Into Light', cursive;
}

.project-box {
  background-color: black;
  height: 148px;
  margin-bottom: 10px;
  width: 300px;

}
.deleteBtn {
  height: 25px;
  margin: 2px;
}