.project_name {
  color: white;
  text-align: center;
  text-shadow: 1px 0px 7px #000000d6;
  display: inline-block;
  margin: 5px;
  font-family: 'Shadows Into Light', cursive;
}

.project-box {
  background-color: cadetblue;
  height: 148px;
  margin: 12px 10px 12px 10px;
  width: 300px;
  box-shadow: 8px 7px 12px 0px black;;
  border-radius: 2px;
}

.deleteBtn {
  height: 25px;
  margin: 2px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .4s ease-in-out;
  }
}