.section_palettes {
    background-color: white;
    display: flex;
    width: 285px;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px rgb(187, 187, 187);
    padding: 2px 10px 2px 5px;
    .section_palettes:last-child {
        border-radius: 0 0 15px 15px;
    }
}

.palette_name {
    width: 100px;
    text-align: left;
    line-height: 30px;
}

.palette_delete-btn {
    height: 25px;
    margin: 2px;
}

.palette__colors {
    height: 30px;
    width: 30px;
}