%form_styling {
    height: 40px;
    font-size: 1.3em;
    // box-shadow: inset 1px 1px 2px 1px black;
    padding-left: 1.5%;
    outline: none;
    margin-left: 15px;
    min-width: 15%;
}

.project_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.project_input, 
.project_btn {
    @extend %form_styling;
}

#input_project {
    height: 34px;
    border-radius: 6px;
    font-family: 'Shadows Into Light', cursive;

}

.project_btn {
    background-color: black;
    border-radius: 6px;
    color: white;
    font-family: 'Shadows Into Light', cursive;


}

.project_btn {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all .4s ease-in-out;
    }
}
